{
    "extends": "@antfu",
    "ignorePatterns": [
        "*.code-workspace",
        "*.civet.tsx",
        "package.json",
        "sqlmean.mjs",
        "tsconfig.json",
        "pnpm-workspace.yaml",
        "pnpm-lock.yaml",
        "scrypt.index.json"
    ]
}