node_modules
.DS_Store
dist
package.json
tsconfig.json
import_map.json
pnpm-lock.yaml
pnpm-workspace.yaml
scrypt.index.json
vite.config.ts
auto-import.d.ts
packages/vite-plugin/scrypt/scryptlib
packages/vscode-ext/civet
packages/app
packages/examples
packages/editor
packages/xxx
packages/lsp
packages/ide

packages/vite-plugin/vite-project



packages/vscode-ext
trash



packages/web-worker-lsp



artifacts

test/out
test/contracts

autoimport.d.ts

packages/demo
packages/lsp-turbo
packages/examples
packages/core
packages/app








packages/checker
packages/lspxxx


